* {
    box-sizing: border-box;
}

body {
    padding: 20px;
    font-size: .8rem;
    margin: 0 auto;
}

.app {
    border: 2px solid gray;
    margin: 0 auto;
    border-radius: 10px;
}

form {
    margin: 15px auto;
    border: 1px solid #ddd;
    height: auto;
    border-radius: 4px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 4px grey;
    display: flex;
    width: 90%;
}

.contactList {
    padding: 0;
    margin: 0;
}

.form-control {
    display: block;
    width: 100%;
}

.contactItem {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 10px auto;
    width: 90%;
    box-shadow: 2px 2px 3px grey;
}

.info {
    padding: 20px;
}

img {
    width: 100px;
    height: 100px;
}

input {
    margin: 10px;
    border-radius: 3px;
}

input::placeholder {
    font-size: .8rem;
}

button {
    display: block;
    background-color: #4286f4;
    color: white;
    border-radius: 5px;
}

@media (max-width: 992px) {
    input {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .contactForm {
        flex-direction: column;
    }

    input {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}